# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    environment:
      GO111MODULE=on
    docker:
    - image: circleci/golang:1.16
    working_directory: /go/src/github.com/johannesboyne/gofakes3
    steps:
    - checkout
    - run: go get -v -t -d ./...
    - run: go test -v ./...
    - run: go run makefile.go cover coverage.txt
    - run: bash <(curl -s https://codecov.io/bash)
